
@{
    ViewBag.Title = "Employee";
}
<h2> Employee System </h2>
<body style="background-image:url('../../images/666.jpg');">

    <!-- Search -->
    <div class="form-group">
        <input type="button" onclick="location.href='@Url.Action("Search", "Employee")'" value="Users" class="btn btn-info" />
    </div>

    <!-- Meals -->
    <div class="form-group">
        <input type="button" onclick="location.href='@Url.Action("index_Emp", "Meal")'" value="Meals" class="btn btn-info" />
    </div>


    <!-- Log out -->
    <div class="form-group">
        <input type="button" onclick="location.href='@Url.Action("LogOut", "Employee")'" value="LogOut" class="btn btn-primary" />
    </div>




</body>
